<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
    Welcome
  </h1> -->
  <div class="image">
      <nav class="navbar navbar-default navbar-fixed-top">
    <header id="header">
      <div id="navbar" class="navbar-collapse collapse">
        <a href="">HOME</a>
        <a href="#services">SERVICES</a>
        <a href="#about">ABOUT US</a>
        <a href="#contact">CONTACT</a>
        <input type="text" placeholder="Search">
      </div>
    </header>
    </nav>
    <div class="title">a2z Solutions...</div>
  <!-- <app-parent></app-parent> -->

  </div>
</div>

<div id="services">
  <h1 style="text-align: cneter; font-family: Arial, sans-serif;text-align: center">
  OUR SERVICES
</h1>
<div class="serveimg">
<div class="container" style="padding: 10px;">
  <div class="row">
    <div class = "col-md-4"><h2>Web Design</h2><p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis
      </p></div>
    <div class = "col-md-4">Blog/Forums</div>
    <div class = "col-md-4">CSS/HTML</div>
  </div>
</div>
</div>
</div>

<div id="about" style="text-align: center">
    <h1 style="text-align: cneter; font-family: Arial, sans-serif;text-align: center">
       ABOUT US
      </h1>
      <div class="aboutimg">
        <p class="abt" style="padding: 40px;">Nike might seem like a company that's too big to inspire smaller businesses. You might even wonder if Nike even still has an "About Us" page. As a matter of fact, it does, and it hasn't forgotten the company's roots.
            Nike began on the campus of the University of Oregon by the hand of the college's track coach, Bill Bowerman. And even though he no longer works at the company, one of his beloved quotes still brands the bottom of Nike's "About Us" page below: "If you have a body, you are an athlete."
            This bold sentence, referenced by the asterisked "Athlete" in the words right above it, sheds important light on Nike's audience. The brand may be big today, but Nike is all about the rising stars -- who Nike depends on to, according to the rest of its "About Us" page, "expand human potential."
            The takeaway for marketers? Know your audience, and make it obvious to that audience the instant they read about you on your website.</p>
      </div>
  </div>


  <!----------------------------CONTACT FORM--------------------  -->
<div id="contact" style="text-align: center">
    <h1 style="text-align: cneter; font-family: Arial, sans-serif;text-align: center">
       CONTACT US
      </h1>
      <div class="contactimg">
              <form #addCustomerForm="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" id="Name" placeholder="Name" required
              [(ngModel)]="customer.name" name="name" #name="ngModel">
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
              <div *ngIf="name.errors.required">
              Name is required.
            </div>
            </div> -->
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="Email" placeholder="Email" required=""
              [(ngModel)]="customer.email"pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" #email="ngModel">
              <div *ngIf="email.errors &&(email.touched || email.dirty)" class ="aler alert-danger">
                <div [hidden]="!email.errors?.pattern">
                  Invalid pattern
                </div>
                </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="Subject" placeholder="Subject" required=""
              [(ngModel)]="customer.subject" name="subject" #name="ngModel">
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="8" placeholder="Message" required=""
              [(ngModel)]="customer.message" name="message" #name="ngModel"></textarea>
            </div>
            <div class="form-group text-center">
                <!-- <button type="submit" class="btn btn-primary" (click)="addCustomer(); addCustomerForm.reset()">Send Message</button> -->
              <button type="submit" class="btn btn-primary" (click)="addCustomer(); addCustomerForm.reset()" [disabled]="!addCustomerForm.form.valid">Send Message</button>
            </div>
        </form>
        </div>
    </div>
